### Naver Rest API
- 통합검색어 트렌드 api
- 파파고 번역 api

#### 1. 통학검색어 트렌드
-  https://developers.naver.com
- 1. Request Token 얻기 : 앱등록 -> app_key 획득
- 2. app_key를 이용해서 데이터 가져오기

In [1]:
import json

In [2]:
client_id = ""
client_secret = ""

In [3]:
url = "https://openapi.naver.com/v1/datalab/search"

In [14]:
params = {
    "startDate" : "2018-01-01",
    "endDate" : "2020-06-26",
    "timeUnit" : "month",
    "keywordGroups" : [
        {"groupName":"트위터", "keywords": ["트위터", "트윗"]},
        {"groupName":"페이스북", "keywords": ["페이스북", "페북"]},
        {"groupName":"인스타그램", "keywords": ["인스타그램", "인스타"]}
    ]
}

In [15]:
headers = {
    "X-Naver-Client-Id" : client_id,
    "X-Naver-Client-Secret" : client_secret,
    "Content-Type": "application/json"
}

In [16]:
# API 요청
response = requests.post(url, data = json.dumps(params), headers = headers)
response

In [17]:
response.text

'{"startDate":"2018-01-01","endDate":"2020-06-26","timeUnit":"month","results":[{"title":"트위터","keywords":["트위터","트윗"],"data":[{"period":"2018-01-01","ratio":14.59502},{"period":"2018-02-01","ratio":13.0238},{"period":"2018-03-01","ratio":12.97953},{"period":"2018-04-01","ratio":12.82991},{"period":"2018-05-01","ratio":13.05391},{"period":"2018-06-01","ratio":13.34512},{"period":"2018-07-01","ratio":13.02773},{"period":"2018-08-01","ratio":13.45399},{"period":"2018-09-01","ratio":12.83755},{"period":"2018-10-01","ratio":13.05677},{"period":"2018-11-01","ratio":12.77338},{"period":"2018-12-01","ratio":12.86931},{"period":"2019-01-01","ratio":13.31172},{"period":"2019-02-01","ratio":11.74776},{"period":"2019-03-01","ratio":11.82313},{"period":"2019-04-01","ratio":12.32991},{"period":"2019-05-01","ratio":12.43771},{"period":"2019-06-01","ratio":13.29913},{"period":"2019-07-01","ratio":14.00593},{"period":"2019-08-01","ratio":14.208},{"period":"2019-09-01","ratio":14.00856},{"period":"2019-10-01","ratio":14.88466},{"period":"2019-11-01","ratio":14.352},{"period":"2019-12-01","ratio":14.36689},{"period":"2020-01-01","ratio":16.05722},{"period":"2020-02-01","ratio":15.71465},{"period":"2020-03-01","ratio":18.5669},{"period":"2020-04-01","ratio":18.29928},{"period":"2020-05-01","ratio":21.0523},{"period":"2020-06-01","ratio":16.20296}]},{"title":"페이스북","keywords":["페이스북","페북"],"data":[{"period":"2018-01-01","ratio":97.80481},{"period":"2018-02-01","ratio":89.05814},{"period":"2018-03-01","ratio":98.84292},{"period":"2018-04-01","ratio":100},{"period":"2018-05-01","ratio":92.23588},{"period":"2018-06-01","ratio":91.70143},{"period":"2018-07-01","ratio":87.916},{"period":"2018-08-01","ratio":83.56488},{"period":"2018-09-01","ratio":82.66018},{"period":"2018-10-01","ratio":81.30381},{"period":"2018-11-01","ratio":76.80167},{"period":"2018-12-01","ratio":75.43269},{"period":"2019-01-01","ratio":70.21709},{"period":"2019-02-01","ratio":62.57096},{"period":"2019-03-01","ratio":70.02431},{"period":"2019-04-01","ratio":71.67271},{"period":"2019-05-01","ratio":67.79872},{"period":"2019-06-01","ratio":69.23259},{"period":"2019-07-01","ratio":64.22088},{"period":"2019-08-01","ratio":61.74662},{"period":"2019-09-01","ratio":62.30318},{"period":"2019-10-01","ratio":62.46025},{"period":"2019-11-01","ratio":59.88514},{"period":"2019-12-01","ratio":57.80639},{"period":"2020-01-01","ratio":55.94828},{"period":"2020-02-01","ratio":56.90092},{"period":"2020-03-01","ratio":63.03497},{"period":"2020-04-01","ratio":57.31923},{"period":"2020-05-01","ratio":56.65968},{"period":"2020-06-01","ratio":45.45014}]},{"title":"인스타그램","keywords":["인스타그램","인스타"],"data":[{"period":"2018-01-01","ratio":23.41982},{"period":"2018-02-01","ratio":22.53544},{"period":"2018-03-01","ratio":25.3988},{"period":"2018-04-01","ratio":26.55983},{"period":"2018-05-01","ratio":28.60035},{"period":"2018-06-01","ratio":28.40753},{"period":"2018-07-01","ratio":27.84405},{"period":"2018-08-01","ratio":29.84383},{"period":"2018-09-01","ratio":25.05096},{"period":"2018-10-01","ratio":27.2048},{"period":"2018-11-01","ratio":21.97864},{"period":"2018-12-01","ratio":20.8739},{"period":"2019-01-01","ratio":22.51379},{"period":"2019-02-01","ratio":19.33788},{"period":"2019-03-01","ratio":21.67678},{"period":"2019-04-01","ratio":21.16257},{"period":"2019-05-01","ratio":20.9485},{"period":"2019-06-01","ratio":21.76954},{"period":"2019-07-01","ratio":22.586},{"period":"2019-08-01","ratio":21.43535},{"period":"2019-09-01","ratio":19.83802},{"period":"2019-10-01","ratio":22.24957},{"period":"2019-11-01","ratio":21.55812},{"period":"2019-12-01","ratio":21.52333},{"period":"2020-01-01","ratio":22.0381},{"period":"2020-02-01","ratio":21.53446},{"period":"2020-03-01","ratio":25.01454},{"period":"2020-04-01","ratio":24.12708},{"period":"2020-05-01","ratio":25.68412},{"period":"2020-06-01","ratio":21.36119}]}]}'

In [18]:
datas = response.json()["results"]

In [22]:
dfs = []

for data in datas:
    df = pd.DataFrame(data["data"])
    df["title"] = data["title"] # 트위터, 페이스북, 인스타그램
    dfs.append(df)

In [24]:
result_df = pd.concat(dfs, ignore_index=True)
result_df.tail(2)

        period     ratio  title
88  2020-05-01  25.68412  인스타그램
89  2020-06-01  21.36119  인스타그램

In [25]:
result_df.pivot("period", "title", "ratio")

title          인스타그램       트위터       페이스북
period
2018-01-01  23.41982  14.59502   97.80481
2018-02-01  22.53544  13.02380   89.05814
2018-03-01  25.39880  12.97953   98.84292
2018-04-01  26.55983  12.82991  100.00000
2018-05-01  28.60035  13.05391   92.23588
2018-06-01  28.40753  13.34512   91.70143
2018-07-01  27.84405  13.02773   87.91600
2018-08-01  29.84383  13.45399   83.56488
2018-09-01  25.05096  12.83755   82.66018
2018-10-01  27.20480  13.05677   81.30381
2018-11-01  21.97864  12.77338   76.80167
2018-12-01  20.87390  12.86931   75.43269
2019-01-01  22.51379  13.31172   70.21709
2019-02-01  19.33788  11.74776   62.57096
2019-03-01  21.67678  11.82313   70.02431
2019-04-01  21.16257  12.32991   71.67271
2019-05-01  20.94850  12.43771   67.79872
2019-06-01  21.76954  13.29913   69.23259
2019-07-01  22.58600  14.00593   64.22088
2019-08-01  21.43535  14.20800   61.74662
2019-09-01  19.83802  14.00856   62.30318
2019-10-01  22.24957  14.88466   62.46025
2019-11-01  21.55812  14.35200   59.88514
2019-12-01  21.52333  14.36689   57.80639
2020-01-01  22.03810  16.05722   55.94828
2020-02-01  21.53446  15.71465   56.90092
2020-03-01  25.01454  18.56690   63.03497
2020-04-01  24.12708  18.29928   57.31923
2020-05-01  25.68412  21.05230   56.65968
2020-06-01  21.36119  16.20296   45.45014

#### 2. 파파고 API
- 내 어플리케이션에 파파고 추가

In [26]:
url = "https://openapi.naver.com/v1/papago/n2mt"

In [27]:
params = {
    "source": "ko",
    "target": "en",
    "text": "파이썬 웹 크롤링 및 자동화",
}

In [28]:
response = requests.post(url, json.dumps(params), headers =headers)
response

In [31]:
response.json()["message"]["result"]["translatedText"]

'Python Web crawling and automation'