In [2]:
# 각 데이터셋 호출
df_challenger = pd.read_csv("tft-match-data (1)\\TFT_Challenger_MatchData.csv")
df_grandmaster = pd.read_csv("tft-match-data (1)\\TFT_Grandmaster_MatchData.csv")
df_master = pd.read_csv("tft-match-data (1)\\TFT_Master_MatchData.csv")
df_diamond = pd.read_csv("tft-match-data (1)\\TFT_Diamond_MatchData.csv")
df_platinum = pd.read_csv("tft-match-data (1)\\TFT_Platinum_MatchData.csv")

In [3]:
# 각 데이터 셋에 티어 컬럼 추가
df_challenger["tier"] = 'ch'
df_grandmaster["tier"] = 'gm'
df_master["tier"] = 'ms'
df_diamond["tier"] = 'dia'
df_platinum["tier"] = 'pt'

In [4]:
# 각 데이터프레임을 하나의 데이터 프레임으로 합침
df_integrate = pd.concat([df_challenger, df_grandmaster, df_master, df_diamond, df_platinum], ignore_index = True)
df_integrate.tail(8)

,gameId,gameDuration,level,lastRound,Ranked,ingameDuration,combination,champion,tier
399990,KR_4296831363,2049.954102,7,19,8,1016.631775,"{'Demolitionist': 1, 'MechPilot': 1}","{'Rumble': {'items': [6], 'star': 1}}",pt
399991,KR_4296831363,2049.954102,7,31,6,1701.195190,"{'Blaster': 4, 'Chrono': 2, 'Cybernetic': 2, '...","{'Graves': {'items': [36], 'star': 2}, 'Blitzc...",pt
399992,KR_4296831363,2049.954102,8,38,1,2041.694946,"{'Blaster': 1, 'Chrono': 6, 'DarkStar': 1, 'De...","{'TwistedFate': {'items': [], 'star': 2}, 'Cai...",pt
399993,KR_4296831363,2049.954102,7,34,4,1862.439209,"{'Chrono': 2, 'Cybernetic': 1, 'Protector': 2,...","{'TwistedFate': {'items': [58], 'star': 2}, 'X...",pt
399994,KR_4296831363,2049.954102,8,33,5,1799.791870,"{'Chrono': 2, 'Cybernetic': 1, 'Infiltrator': ...","{'Xayah': {'items': [5], 'star': 2}, 'Yasuo': ...",pt
399995,KR_4296831363,2049.954102,8,38,2,2041.694946,"{'Blaster': 1, 'DarkStar': 1, 'MechPilot': 1, ...","{'Poppy': {'items': [], 'star': 2}, 'Zoe': {'i...",pt
399996,KR_4296831363,2049.954102,8,35,3,1911.133057,"{'Blaster': 2, 'Chrono': 1, 'Demolitionist': 1...","{'Ziggs': {'items': [44, 48], 'star': 3}, 'Mal...",pt
399997,KR_4296831363,2049.954102,8,31,7,1700.155151,"{'Blaster': 3, 'Chrono': 5, 'Cybernetic': 2, '...","{'Caitlyn': {'items': [14], 'star': 3}, 'Leona...",pt

- 1게임에 8명의 플레이어가 존재
    - 데이터 컬럼수가 8의 배수가 되어야 하지만 누락된 데이터가 존재
- 중복 데이터 1개 삭제 및 데이터가 누락된 데이터 확인
- member 값 : 16 = 중복 데이터, member값 : 7 = 1명의 플레이어 데이터 누락

In [5]:
# 중복 데이터 및 데이터 누락 확인 함수
def check_data(df, gameId):
    check_df = df.groupby(gameId).size().reset_index(name = "member")
    return check_df[check_df["member"] != 8]

In [6]:
check_df = check_data(df_integrate, "gameId")
check_df

              gameId  member
2432   KR_4263820118      16
10243  KR_4313697214      16
12053  KR_4318806255       7
12525  KR_4320079059      16
20067  KR_4335870255       7
25323  KR_4344513862      16
27702  KR_4347884427      16
34207  KR_4357966612      16
34976  KR_4358922415      16
37414  KR_4361594426      16
37573  KR_4361773461      16
38720  KR_4362846604      16
39928  KR_4364453473      16
40896  KR_4365284161      16
43914  KR_4378896137      16
44448  KR_4381231118      16
45665  KR_4387025966      16
45726  KR_4387247645      16
45850  KR_4388134708      16
47563  KR_4393787119      16
49148  KR_4398618214      16

In [7]:
# 데이터가 누락된 행 drop
missing_player = list(check_df[check_df["member"] == 7]["gameId"].values)

for x in missing_player:
    idx = list(df_integrate[df_integrate["gameId"] == x].index)
    df_integrate = df_integrate.drop(idx)

check_df = check_data(df_integrate, "gameId")
check_df

              gameId  member
2432   KR_4263820118      16
10243  KR_4313697214      16
12524  KR_4320079059      16
25321  KR_4344513862      16
27700  KR_4347884427      16
34205  KR_4357966612      16
34974  KR_4358922415      16
37412  KR_4361594426      16
37571  KR_4361773461      16
38718  KR_4362846604      16
39926  KR_4364453473      16
40894  KR_4365284161      16
43912  KR_4378896137      16
44446  KR_4381231118      16
45663  KR_4387025966      16
45724  KR_4387247645      16
45848  KR_4388134708      16
47561  KR_4393787119      16
49146  KR_4398618214      16

In [8]:
# 인게임 데이터 값이 누락된 경우 Ranked가 0, combination, champion 데이터 모두 누락되어 있음
df_integrate[df_integrate["Ranked"] == 0].head()

,gameId,gameDuration,level,lastRound,Ranked,ingameDuration,combination,champion,tier
100911,KR_4336328756,125.278297,3,4,0,125.278297,{},{},gm
100912,KR_4336328756,125.278297,3,4,0,125.278297,{},{},gm
100913,KR_4336328756,125.278297,3,4,0,125.278297,{},{},gm
100914,KR_4336328756,125.278297,3,4,0,125.278297,{},{},gm
100915,KR_4336328756,125.278297,3,4,0,125.278297,{},{},gm

In [9]:
# 게임 데이터 중 Rank가 0이 하나라도 있는 경우 분석에 의미가 없는 값이 되므로 해당 gameID의 모든 행 삭제
# 누락된 행 삭제
wrong_data = df_integrate[df_integrate["Ranked"] == 0]["gameId"].unique()
for x in wrong_data:
    idx = list(df_integrate[df_integrate["gameId"] == x].index)
    df_integrate = df_integrate.drop(idx)

df_integrate[df_integrate["Ranked"] == 0]

Empty DataFrame
Columns: [gameId, gameDuration, level, lastRound, Ranked, ingameDuration, combination, champion, tier]
Index: []

In [10]:
# tier를 제외한 나머지 값이 중복된 행 삭제
df_list = list(df_integrate)[:-1]
df_integrate = df_integrate.drop_duplicates(df_list, ignore_index = True)
check_df = check_data(df_integrate, "gameId")
check_df

Empty DataFrame
Columns: [gameId, member]
Index: []

In [11]:
df_integrate

,gameId,gameDuration,level,lastRound,Ranked,ingameDuration,combination,champion,tier
0,KR_4247538593,2142.470703,8,35,1,2134.272217,"{'DarkStar': 2, 'Protector': 4, 'Rebel': 1, 'S...","{'JarvanIV': {'items': [27], 'star': 3}, 'Sona...",ch
1,KR_4247538593,2142.470703,9,35,2,2134.272217,"{'Blaster': 2, 'Mercenary': 1, 'Rebel': 6, 'Se...","{'Malphite': {'items': [7], 'star': 2}, 'Yasuo...",ch
2,KR_4247538593,2142.470703,8,34,3,2073.459229,"{'Cybernetic': 1, 'DarkStar': 3, 'Demolitionis...","{'KaiSa': {'items': [99, 2, 23], 'star': 2}, '...",ch
3,KR_4247538593,2142.470703,8,33,4,1998.146729,"{'Blaster': 1, 'Cybernetic': 1, 'DarkStar': 1,...","{'KaiSa': {'items': [44, 37], 'star': 2}, 'Ann...",ch
4,KR_4247538593,2142.470703,9,33,5,1986.443237,"{'Blaster': 2, 'Demolitionist': 2, 'Mercenary'...","{'Ziggs': {'items': [], 'star': 1}, 'Yasuo': {...",ch
...,...,...,...,...,...,...,...,...,...
399715,KR_4296831363,2049.954102,7,34,4,1862.439209,"{'Chrono': 2, 'Cybernetic': 1, 'Protector': 2,...","{'TwistedFate': {'items': [58], 'star': 2}, 'X...",pt
399716,KR_4296831363,2049.954102,8,33,5,1799.791870,"{'Chrono': 2, 'Cybernetic': 1, 'Infiltrator': ...","{'Xayah': {'items': [5], 'star': 2}, 'Yasuo': ...",pt
399717,KR_4296831363,2049.954102,8,38,2,2041.694946,"{'Blaster': 1, 'DarkStar': 1, 'MechPilot': 1, ...","{'Poppy': {'items': [], 'star': 2}, 'Zoe': {'i...",pt
399718,KR_4296831363,2049.954102,8,35,3,1911.133057,"{'Blaster': 2, 'Chrono': 1, 'Demolitionist': 1...","{'Ziggs': {'items': [44, 48], 'star': 3}, 'Mal...",pt
399719,KR_4296831363,2049.954102,8,31,7,1700.155151,"{'Blaster': 3, 'Chrono': 5, 'Cybernetic': 2, '...","{'Caitlyn': {'items': [14], 'star': 3}, 'Leona...",pt