### 웹 크롤링 : HTML
- 1. 웹서비스 분석 : URL
- 2. Request, Response : JSON(str)
- 3. HTML(str) >bs_obj(parsing) > bs_obj - css selector : DF
- BeautifulSoup : css selector를 사용할수 있는 함수를 제공

In [3]:
# 1. url
keyword = "삼성전자"
url = "https://search.naver.com/search.naver?query={}".format(keyword)
print(url)

https://search.naver.com/search.naver?query=삼성전자

In [4]:
# 2. url > req, rep : HTML(str)
response = requests.get(url)
response

In [6]:
# 3. HTML(str) > parsing(BS_OBJ) > css selector : DF

In [7]:
from bs4 import BeautifulSoup

In [8]:
dom = BeautifulSoup(response.content, "html.parser")
type(dom)

bs4.BeautifulSoup

In [10]:
# select : 엘리먼트를 여러개 선택 : [Tag, Tag, Tag]
# select_one : 하나의 엘리먼트를 선택 : Tag

In [11]:
# css-selector

In [12]:
# #nx_related_keywords > dl > dd.lst_relate._related_keyword_list > ul > li
elements = dom.select("._related_keyword_ul > li")
len(elements)

10

In [15]:
elements[0].text.strip()

'삼성전자우'

In [19]:
keywords = [ element.text.strip() for element in elements]
df = pd.DataFrame({"keyword": keywords})

df

     keyword
0      삼성전자우
1        카카오
2         삼성
3        네이버
4     삼성중공업우
5       셀트리온
6     sk하이닉스
7        코스피
8  삼성전자서비스센터
9      삼성sdi